 body{
   background-color: black;

 }

 h1{
    border: 4px dotted black;
    margin-left: 11em;
    margin-right: 10em;
    border-radius: 15%;
    background-color: red;
    padding-left: 7em;
    padding-right: 8em;
    width: 100px;
    margin-bottom: 8em;
 }

 h2{
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
    margin-left: 30em;
    margin-right: 30em;
    font-size: larger;

 }
 a{
    margin-left: 34em;
    margin-right: 37em;
    margin-top: 2em;

    
 }

 button{
    font-size: 2em;
    border: 20px double white;
 }

 video{
    margin-left: 30em;
    margin-right: 30em;
    margin-top: 10em;
 }