 body{
   background-color: black;
 }

 h1{
    border: 4px dotted black;
    border-radius: 15%;
    background-color: red; 
    width: 200px;
    margin-bottom: 8em;
    padding-left: 50px;
    margin-left: 3.5em;
 }

 h2{
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
    font-size: 20px;
    margin-left: 5.5em;
 }


 button{
    font-size: 2em;
    border: 20px double white;
    margin-left: 4.5em;
 }


 video{
   margin-top: 20%;
   margin-left: 15%;

 }